*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
        font-family: 'Poppins', sans-serif;

}

.wrap{
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/main-page-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: min(3.375em, 5%) min(6.25em, 5%);
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-name{
    font-weight: 700;
    font-size: clamp(.75rem, 1.5vw, 1.25rem);
    background: linear-gradient(to left, hsla(192, 86%, 51%, 1), hsla(209, 77%, 48%, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row{
    display: flex;
}

nav .row:nth-of-type(2){
    font-size: clamp(.35rem, 1.5vw, 1rem);
    gap: 5em;
}

nav .row a{
    text-decoration: none;
    color: hsla(0, 0%, 100%, 1);
    font-weight: 500;
}

nav .row:nth-of-type(2) a{
    position: relative;
}

nav .row:nth-of-type(2) a::after{
    content: "";
    background-color: hsla(196, 82%, 50%, 1);
    position: absolute;
    display: block;
    width: 85%;
    height: 4px;
    top: 25px;
    left: 0;
    border-radius: 100px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all .3s ease-out;
}

nav .row:nth-of-type(2) a:hover::after{
    transform: scaleX(1);
}

nav .row:last-of-type {
    font-size: clamp(.35rem, 1.5vw, 1rem);
    gap: 1.5625em;
    align-items: center;
}

nav .row:last-of-type button{
    border-radius: 100px;
}

.gradient-button{
    background: linear-gradient(to left, hsla(192, 86%, 51%, 1), hsla(209, 77%, 48%, 1));
    border: none;
    font-size: clamp(.5rem, 1.5vw, 1rem);
    color: hsla(0, 0%, 100%, 1);
    font-weight: 600;
    cursor: pointer;
    padding: 0.8125em 2.5em;
}

.body-container{
    /* margin-top: clamp(0.5em, 2vw, 10em); */
    align-items: center;
    gap: 3em;
    font-size: clamp(.5rem, 1.25vw, 1rem);
    position: relative;
}

.circle-container{
    background-color: hsla(205, 78%, 48%, 0.22);
    border-radius: 50%;
    font-size: clamp(.25rem, 1vw, 1rem);
    padding: 25em;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5em;
}

.text-container h1{
    font-size:  clamp(1.25rem, 2.5vw ,3.4375rem);
    color: hsla(0, 0%, 100%, 1);
}

.text-container p{
    font-size: clamp(0.35rem, 1.5vw, 1.5625rem);
    color: hsla(0, 0%, 45%, 1);
}

.text-container button{
    border-radius: 27px;
    font-size:  clamp(0.5rem, 1.5vw, 1.5rem);
    /* padding: 1.125em 2.44em; */
    width: 50%;
    min-width: 100px;
}

.text-container select{
    width: 25%;
    font-size: clamp(.25rem, 1.5vw, 1rem);
    background-color: hsla(0, 0%, 45%, 1);
    color: hsla(0, 0%, 85%, 1);
    border: none;
    padding: .7em 1.5em;
    border-radius: 15px;
    min-width: 120px;
}

.img-container{
    position: absolute;
    font-size: clamp(.25rem, 1vw, 1rem);
    padding: 23.5em 21em;
    height: auto;
    transform: translate(-50%, -40%);
    border-radius: 86px;
    background-color: aqua;
    background-image: url('../../../public/hotel-picture.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1000px) {
    .wrap{
        gap: 12em;
    }

    .body-container{
        gap: 1.5em;
    }
}